.not-found__page {
  padding: 20px 24px 24px 24px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.not-found__title {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.not-found__content {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.not-found__illustration {
  min-width: 0;
  flex-grow: 1;
}

.not-found__content-text {
  flex-grow: 1;
}

.not-found__heading {
  font-family: 'Space Mono', monospace;
  font-size: 40px;
  font-weight: bold;
  line-height: 56px;
  color: #333333;
  margin-top: 40px;
}

.not-found__info {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  line-height: 24px;
  color: #4F4F4F;
  margin-top: 24px;
}

.not-found__back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  background: #333333;
  height: 68px;
  width: 216px;
  margin: 24px 0;
}

.not-found__back-button:focus {
  outline: 2px solid #60588D;
  outline-offset: 2px
}

.not-found__back-button:hover, .not-found__back-button:focus  {
  color: #A194DF;
  background: #000000;
}

.not-found__footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #575757;
  margin-top: auto;
}

.not-found__footer-link {
  font-weight: bold;
}

.not-found__footer-link:focus {
  outline: 2px solid #60588D;
  outline-offset: 2px
}

@media only screen and (min-width: 768px) {
  .not-found__illustration {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  .not-found__content {
    margin: auto 0;
    flex-wrap: nowrap;
  }

  .not-found__illustration {
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .not-found__page {
    padding: 40px 72px 24px 72px;
  }
  
  .not-found__illustration {
    margin-right: 72px;
  }
  
  .not-found__heading {
    font-size: 64px;
    line-height: 80px;
  }
  
  .not-found__info {
    font-size: 24px;
    line-height: 36px;
    margin-top: 32px;
  }
  
  .not-found__back-button {
    margin: 32px 0;
  }
}